.contactPage{
  display: flex;
}

.contact-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    height: 77.8vh;

  }
  
  .contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-container form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-container form div {
    margin-bottom: 15px;
  }
  
  .contact-container form label {
    margin-bottom: 5px;
  }
  
  .contact-container form input,
  .contact-container form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .contact-container form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .contact-container form button:hover {
    background-color: #45a049;
  }
  
 